[user]
  signingkey = E5EC6CB851107D2B89BC979B4938019251B34D82
  name = barbiefan
  email = georgecarlin770@gmail.com
[commit]
	gpgsign = true

[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

#INCLUDE_BEG
[includeIf "gitdir:~/Documents/GIT/github.com/"]
  path = ~/Documents/GIT/github.com/.gitconfig
[includeIf "gitdir:~/Documents/GIT/git.dc.ru/"]
  path = ~/Documents/GIT/git.dc.ru/.gitconfig
[includeIf "gitdir:~/Documents/GIT/git.nlmk.com/"]
  path = ~/Documents/GIT/git.nlmk.com/.gitconfig
#INCLUDE_END
