[submodule "Documents/git/StartPage"]
	path = Documents/git/StartPage
	url = git@github.com:barbiefan/StartPage.git
[submodule "Pictures/wallpaper"]
	path = Pictures/wallpaper
	url = git@github.com:barbiefan/wallpapers.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:barbiefan/nvim_config.git
[submodule ".password-store"]
	path = .password-store
	url = git@github.com:barbiefan/pass.git
[submodule ".bins/steam_theme"]
	path = .bins/steam_theme
	url = git@github.com:barbiefan/steam_theme.git
[submodule ".bins/Adwaita-for-Steam"]
	path = .bins/Adwaita-for-Steam
	url = git@github.com:tkashkin/Adwaita-for-Steam.git
	branch = master
