@import "/home/obey/.cache/wal/colors-waybar.css";

* {
  font-family: "Comfortaa", "NotoSans Nerd Font";
  font-size: 16px;
  min-height: 0px;
  border-radius: 20px;
  text-shadow: 0px 0px 3px #000000;
  color: @color7;
  background-color: transparent;
}

label {
  padding: 10px 0px 10px 0px;
}

tooltip * {
  background-color: #000000;
}
tooltip label {
  background-color: @background;
  font-family: "Noto Sans Mono";
  /* min-width: 750px; */
}

.module {
  margin-left: 10px;
  margin-right: 0px;
}

.modules-right {
  margin-top: 20px;
}

.modules-left {
  padding-bottom: 20px;
}

.modules-center {
}

#workspaces {
}

#workspaces button {
  background-color: @color1;
  /* border: 2px solid @color5; */
  margin-bottom: 4px;
}
#workspaces button.active {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @color6;
  /* border: 2px solid @color2; */
}
#workspaces button.urgent {
  background-color: @color3;
}

#language {
  text-shadow: none;
}

#custom-vpn_indicator,
#custom-audio_indicator,
#custom-video_indicator,
#cpu,
#custom-mem,
#custom-gpu,
#tray,
#clock {
  background-color: @color1;
  /* border: 2px solid @color2; */
  margin-top: 4px;
}

#cpu.mid {
  background-color: #ffff55;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}
#cpu.heavy {
  background-color: #ff5555;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}

#custom-mem.mid {
  background-color: #ffff55;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}
#custom-mem.heavy {
  background-color: #ff5555;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}

#custom-gpu.mid {
  background-color: #ffff55;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}
#custom-gpu.heavy {
  background-color: #ff5555;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}

#custom-vpn_indicator.used {
  background-color: #ff5555;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}
#custom-audio_indicator.used {
  background-color: #ff5555;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}
#custom-video_indicator.used {
  background-color: #ff5555;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}

#pulseaudio {
  font-size: 14px;
  text-shadow: none;
}
#pulseaudio.sink.muted {
  background-color: #ff5555;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}
#pulseaudio.source.source-muted {
  background-color: #ff5555;
  text-shadow: 0px 0px 3px #ffffff;
  color: @color0;
}

#custom-notification {
  font-size: 20px;
  text-shadow: none;
}

#custom-pacman {
  text-shadow: none;
}

@keyframes blink {
  to {
    background-color: @background;
    color: black;
  }
}

#waybar {
  background-color: transparent;
}

#window {
  color: @color7;
}
