:root {{
	--bg: #{color0.strip}ff;
	--fg: #{color3.strip}ff;
	--border: #{color3.strip}26;
	--window_bg: #{color0.strip}ff;
	--window_bg_transparent: #00000000;
	--window_fg: #{color3.strip}ff;
	--headerbar_backdrop: #{color0.strip}ff;
	--headerbar_bg: #{color0.strip}ff;
	--headerbar_fg: #{color3.strip}ff;
	--headerbar_shade: #00000061;
	--popover_bg: #{color0.strip}ff;
	--popover_fg: #{color3.strip}ff;
	--toast_bg: #{color0.strip}80;
	--toast_fg: #{color3.strip}ff;
	--view_bg: #{color0.strip}88;
	--view_fg: #{color3.strip}ff;
	--accent: #{color15.strip}ff;
	--accent_bg: #{color0.strip}ff;
	--accent_fg: #{color3.strip}ff;
	--accent_disabled: #{color15.strip}80;
	--accent_hover_bg: #{color15.strip}12;
	--accent_active_bg: #{color15.strip}29;
	--destructive: #ff7b63ff;
	--destructive_bg: #c01c28ff;
	--destructive_fg: #{color3.strip}ff;
	--destructive_disabled: #ff7b6380;
	--destructive_hover_bg: #ff7b6312;
	--destructive_active_bg: #ff7b6329;
	--error: #ff7b63ff;
	--error_bg: #c01c28ff;
	--error_fg: #{color3.strip}ff;
	--success: #8ff0a4ff;
	--success_bg: #26a269ff;
	--success_fg: #{color3.strip}ff;
	--warning: #f8e45cff;
	--warning_bg: #cd9309ff;
	--warning_fg: #{color3.strip}ff;
	--button_fg: #{color3.strip}ff;
	--dim_label_fg: #{color3.strip}8c;
	--card_solid_bg: #{color0.strip}ff;
	--focusring: #{color1.strip}80;
	--scrollbar: #{color3.strip}33;
	--scrollbar_hover: #{color3.strip}66;
	--scrollbar_active: #{color3.strip}99;
}}
